@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Silkscreen&display=swap");

:root {
  --color-one: #60b0f0;
  --color-two: #f5fa37;
  --color-three: #f06560;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", cursive;
  background-image: linear-gradient(
    to right,
    var(--color-one),
    var(--color-two),
    var(--color-three)
  );

  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Silkscreen", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 45px;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.4);
  margin: 2.5rem;
}

img.profile-image {
  border-radius: 50%;
  border: 2px solid white;
  width: 17.5rem;
  height: 17.5rem;
  margin: 15px;
  object-fit: cover;
}

.pic-and-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h1 {
  color: var(--color-one);
  font-size: 4.25rem;
  margin: 2rem 0;
  text-align: center;
}

h2 {
  color: var(--color-two);
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
}

h3 {
  color: var(--color-three);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: white;
  font-size: 1.3rem;
  margin: 1rem 0;
  text-align: justify;
}

ul {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 0rem 4rem;
  border-radius: 1.5rem;
  padding: 1.5rem 5rem;
  border: 2px solid #fff;
}

li {
  list-style-type: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  font-weight: 600;
}

.links a {
  text-align: center;
}

.links a:hover span {
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--color-two);
  border-color: var(--color-one);
}

.links a span {
  position: relative;
  z-index: 7;
  border-radius: 0.75rem;
  padding: 1rem 2rem;
  transition: all 1s 0.5s;
  border: 2px solid rgba(0, 0, 0, 0);
}

.links a::before,
.links a::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-two);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 1s ease-in-out;
  z-index: 5;
}

.links a::before {
  left: 0;
  box-shadow: -4rem 0 0 var(--color-one);
}

.links a::after {
  right: 0;
  box-shadow: 4rem 0 0 var(--color-one);
}

.links a:hover::before {
  left: 50%;
  box-shadow: -1rem 0 0 var(--color-one);
  transform: translate(-50%, -50%);
}

.links a:hover::after {
  right: 50%;
  box-shadow: 1rem 0 0 var(--color-one);
  transform: translate(50%, -50%);
}

a {
  text-decoration: none;
  color: var(--color-one);
  font-size: 1.75rem;
  transition: color 0.5s;
  z-index: 5;
}

a:hover {
  color: var(--color-three);
}

address {
  text-align: center;
  transition: transform 0.5s;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

address:hover {
  transform: scale(1.35);
}

address a {
  color: var(--color-three);
  font-size: 2rem;
  font-family: "Silkscreen", sans-serif;
  font-style: normal;
  text-align: center;
  transition: color 0.5s, background-color 0.5s;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.25rem;
  border: 2px solid #fff;
  padding: 0.75rem;
}

address a:hover {
  color: var(--color-one);
  background-color: rgba(0, 0, 0, 0.4);
}

.project-photo {
  width: 100%;
  object-fit: cover;
  border: 7.5px solid black;
  border-radius: 0.5rem;
  transition: border-color 0.9s;
}

.project-photo:hover {
  border-color: white;
}

#projects-section a p {
  color: white;
  transition: color 0.9s;
}

#projects-section a:hover p {
  color: black;
}

#projects-section a {
  border: 5px solid transparent;
  padding: 1.75rem;
  border-radius: 0.75rem;
  transition: background-color 0.9s ease-in-out, border-color 0.9s ease-in-out;
}

#projects-section a:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: black;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.skills-box {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid white;
  border-radius: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background-color 1s, transform 0.5s, border-color 1s;
  overflow: hidden;
}

.skills-box::before,
.skills-box::after {
  content: "";
  background-color: var(--color-one);
  position: absolute;
  width: 100%;
  height: 50%;
  transition: transform 1s;
}

.skills-box::before {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.skills-box::after {
  bottom: 0;
  right: 0;
  transform: translateX(100%);
}

.skills-box:hover::before,
.skills-box:hover::after {
  transform: translateX(0);
}

.skills-box i {
  font-size: 7.5rem;
  color: var(--color-one);
  transition: color 0.75s 0.75s;
  z-index: 5;
  position: absolute;
}

.skills-box span {
  position: absolute;
  bottom: 0;
  font-family: "Silkscreen", sans-serif;
  font-size: 1.05rem;
  z-index: 4;
  transition: color 0.75s 0.75s;
  color: white;
}

.skills-box:hover span {
  color: black;
}
/* 
.sklils-box i::before {
  content: "HTML5";
  position: absolute;
  color: white;
  z-index: 10;
  width: 100%;
  height: 100%;
} */

.skills-box:hover {
  transform: scale(1.25);
  border-color: black;
}

.skills-box:hover i {
  color: var(--color-two);
}

@media (max-width: 1250px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .pic-and-links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    width: fit-content;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 75%;
  }

  .container {
    width: 95%;
    padding: 1rem;
  }

  p {
    font-size: 1.75rem;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 50%;
  }

  .container {
    width: 99%;
  }

  h1 {
    font-size: 4rem;
  }

  a {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}
