@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Silkscreen:wght@400;700&display=swap");

:root {
  --color-one: #60b0f0;
  --color-two: #f5fa37;
  --color-three: #f06560;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", cursive;
  background-image: linear-gradient(
    to right,
    var(--color-one),
    var(--color-two),
    var(--color-three)
  );

  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Silkscreen", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 45px;
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.4);
  margin: 2.5rem;
}

img.profile-image {
  border-radius: 50%;
  border: 2px solid white;
  width: 17.5rem;
  height: 17.5rem;
  margin: 15px;
  object-fit: cover;
}

.pic-and-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

h1 {
  color: var(--color-one);
  font-size: 4.25rem;
  margin: 2rem 0;
  text-align: center;
}

h2 {
  color: var(--color-two);
  font-size: 2.5rem;
  margin: 1rem 0;
  text-align: center;
}

h3 {
  color: var(--color-three);
  font-size: 2.5rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: white;
  font-size: 1.3rem;
  margin: 1rem 0;
  text-align: justify;
}

ul {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5rem;
  border-radius: 1.5rem;
  margin: 2rem 0;
  border: 2px solid #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-one);
  font-size: 1.75rem;
  transition: color 0.5s, font-size 0.5s 0.25s;
}

a:hover {
  color: var(--color-three);
  font-size: 2rem;
}

address {
  color: var(--color-three);
  font-size: 1.6rem;
  font-family: "Silkscreen", sans-serif;
}

.project-photo {
  width: 100%;
  object-fit: cover;
  border: 7.5px solid black;
  border-radius: 0.5rem;
  transition: border-color 0.9s;
}

.project-photo:hover {
  border-color: white;
}

@media (max-width: 1250px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 1050px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 75%;
  }

  .container {
    width: 95%;
    padding: 1rem;
  }

  p {
    font-size: 1.75rem;
  }
}

@media (max-width: 380px) {
  html {
    font-size: 50%;
  }

  .container {
    width: 99%;
  }

  h1 {
    font-size: 4rem;
  }

  a {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}
